button {
    position: absolute;
    width: 250px;
    height: 80px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    font-size: 23px;
    padding: 10px; 
    font-weight: bold;
    color: rgb(92, 92, 92);
    background: #fff7ca; 
    border-width: 5px;
    border-radius: 10px; 
    border-color: rgb(252, 241, 213);
    box-shadow: rgba(128, 128, 128, 0.452) 0px 5px 15px; 
    text-decoration:none;
    outline: none;
    cursor: pointer;
}

button:active {
    padding-bottom: 5px;
    box-shadow: none;
}